<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span>Produit</span> {{ produit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ produit.libelle }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ produit.description }}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{ produit.prix }}</span>
                </dd>
                <dt><span>Categorie</span></dt>
                <dd>
                    <div *ngIf="produit.categorie">
                        <a [routerLink]="['/categorie', produit.categorie?.id, 'view']">{{ produit.categorie?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
