<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facture">
            <h2><span>Facture</span> {{ facture.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{ facture.numero }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ facture.date }}</span>
                </dd>
                <dt><span>Quantite</span></dt>
                <dd>
                    <span>{{ facture.quantite }}</span>
                </dd>
                <dt><span>Etat</span></dt>
                <dd>
                    <span>{{ facture.etat }}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="facture.client">
                        <a [routerLink]="['/client', facture.client?.id, 'view']">{{ facture.client?.prenom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facture', facture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
