<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span>Stock</span> {{ stock.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Quantite</span></dt>
                <dd>
                    <span>{{ stock.quantite }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ stock.date }}</span>
                </dd>
                <dt><span>Produit</span></dt>
                <dd>
                    <div *ngIf="stock.produit">
                        <a [routerLink]="['/produit', stock.produit?.id, 'view']">{{ stock.produit?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
