<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sortie">
            <h2><span>Sortie</span> {{ sortie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ sortie.date }}</span>
                </dd>
                <dt><span>Quantite</span></dt>
                <dd>
                    <span>{{ sortie.quantite }}</span>
                </dd>
                <dt><span>Produit</span></dt>
                <dd>
                    <div *ngIf="sortie.produit">
                        <a [routerLink]="['/produit', sortie.produit?.id, 'view']">{{ sortie.produit?.libelle }}</a>
                    </div>
                </dd>
                <dt><span>Facture</span></dt>
                <dd>
                    <div *ngIf="sortie.facture">
                        <a [routerLink]="['/facture', sortie.facture?.id, 'view']">{{ sortie.facture?.numero }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sortie', sortie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
